<table class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsign="az">{{'currency'|_}}</th>
        <th data-defaultsign="_19">{{ 'money_flowing_in'|_ }}</th>
        <th data-defaultsign="_19">{{ 'money_flowing_out'|_ }}</th>
        <th data-defaultsign="_19">{{ 'difference'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for sum in sums %}
    <tr>
        <td>{{ sum.currency_name }} ({{ sum.currency_code }})</td>
        <td data-value="{{ sum.in }}">
            {{ formatAmountBySymbol(sum.in, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
        <td data-value="{{ sum.out }}">
            {{ formatAmountBySymbol(sum.out, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
        <td data-value="{{ sum.sum }}">
            {{ formatAmountBySymbol(sum.sum, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
    </tr>
    {% endfor %}
    {% if convertToPrimary %}
        <tr>
            <td colspan="4" class="text-center"><em>{{ 'sumOfSums'|_ }}</em></td>
        </tr>
        <tr>
            <td>
                {{ 'total'|_ }}
            </td>
            <td data-value="{{ sum.in }}">
                {{ formatAmountBySymbol(sum.in, primaryCurrency.currency_symbol, primaryCurrency.currency_decimal_places) }}
            </td>
            <td data-value="{{ sum.out }}">
                {{ formatAmountBySymbol(sum.out, primaryCurrency.currency_symbol, primaryCurrency.currency_decimal_places) }}
            </td>
            <td data-value="{{ sum.sum }}">
                {{ formatAmountBySymbol(sum.sum, primaryCurrency.currency_symbol, primaryCurrency.currency_decimal_places) }}
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
